.as-form {
  display: flex;
  margin-top: 16px;
}
.as-form > .button {
  align-self: flex-end;
  height: 100%;
  max-width: 60px;
  height: 40px;
}
.as-form > .form-field {
  margin-right: 8px;
}
.as-form-switch {
  height: 42px;
  margin: 0 8px 0 0;
  align-self: flex-end;
}
