.co-form-left {
  width: 320px;
  display: inline-block;
  vertical-align: top;
}
.co-form-right {
  width: 320px;
  vertical-align: top;
  display: inline-block;
}
.co-form-row {
  display: flex;
}
.co-form > .form-submit {
  display: block;
  margin-top: 8px;
}
