.custom-transaction-form-action {
  display: flex;
  padding: 8px;
}
.custom-transaction-form-action > .checkbox-field {
  margin-right: 16px;
}
.custom-transaction-form-view {
  display: flex;
}
.custom-transaction-form-view > .input-field {
  width: 100%;
  margin-bottom: 8px;
  margin-right: 8px;
}
.custom-transaction-form-view > .search-field {
  width: 100%;
  margin-bottom: 8px;
  margin-right: 8px;
}
.custom-transaction-form-view > .button {
  width: 40%;
  margin-bottom: 8px;
}
