.daily-selling-header {
  display: flex;
  margin-bottom: 24px;
}
.daily-selling-header > .input-field {
  width: 300px;
}
.daily-selling-header > .search-field {
  width: 300px;
  margin-right: 8px;
}
.daily-selling-sas {
  margin-left: 8px;
}
