.login {
  display: table;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  max-width: 300px;
  min-width: 300px;
  margin: auto;
  background: white;
  padding: 8px;
}
.login-heading {
  margin-top: 4px;
  text-align: center;
  background: #0b83c8;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
