.transaction-item-view {
  display: flex;
}
.transaction-item-remove {
  padding: 8px;
  border: 1px solid black;
}
.transaction-item-field {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
}
