.transaction-view-header {
  display: flex;
}
.transaction-view-header-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  background: lightgray;
  border: 1px solid black;
}
.transaction-view-date {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}
.transaction-view-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.transaction-view-action {
  display: flex;
}
.transaction-view-action > .button {
  width: 160px;
  margin-right: 8px;
}
.transaction-view-footer {
  display: flex;
}
.transaction-view-footer-item2 {
  padding: 8px;
  border: 1px solid black;
  width: 100%;
}
.transaction-view-footer-item3 {
  background: orange;
  font-weight: bold;
  padding: 8px;
  border: 1px solid black;
  width: 100%;
}
.transaction-view-area {
  margin: 16px 0 0 0;
}
