.transaction-item-view {
  display: flex;
}
.transaction-item-remove {
  padding: 8px;
  border: 1px solid black;
}
.transaction-item-field {
  word-break: break-all;
  width: 100%;
  padding: 8px;
  border: 1px solid black;
}
