.transaction-item-view {
  display: flex;
}
.transaction-item-remove {
  padding: 8px;
  border: 1px solid black;
}
.transaction-item-field,
.transaction-item-field2 {
  word-break: break-all;
  padding: 8px;
  border: 1px solid black;
}
.transaction-item-field {
  width: 100%;
}
.transaction-item-field2 {
  width: 200%;
}
