.custom-report-form {
    
    display: flex;
    
    > .input-field {
        width: 300px;
        margin-bottom: 8px;
        margin-right: 8px
    }

    > .search-field {
        width: 300px;
        margin-bottom: 8px;
        margin-right: 8px;
    }
    
    > .button {
        width: 60px;
        margin-bottom: 8px;
    }
}