.view-dash {
    &-item {
        border: 1px solid #d3d3d3;
        display: inline-block;
        padding: 8px;
        margin: 8px;
        min-width: 120px;
        vertical-align: top;
        min-height: 70px;
        
        &-header {
            font-weight: bold;
            display: block;
            font-size: 18px;
        }
        
        &-value {
            font-size: 16px
        }
    }
}