.inf-scroll-loadmore {
  background: white;
  color: #23527c;
  border: 1px solid lightblue;
  font-weight: bold;
  width: 100%;
  margin: 0;
  border-radius: 4px;
  padding: 6px 16px;
}
.inf-scroll-reached-end {
  text-align: center;
  font-weight: bold;
}
