.sfdi {
  padding: 6px 6px;
  color: black;
}
.sfdi-hover {
  cursor: pointer;
  background: lightblue;
}
.sfdi.disabled {
  pointer-events: none;
  cursor: no-drop;
  color: darkgray;
}
.sfdi.disabled-hover {
  cursor: not-allowed;
}
